body {
  overflow: hidden;
  height: 100vh;
  margin: 0;
}
.hide {
  display: none;
}

.game {
  height: 100%;
}

.gameArea {
  width: 100%;
  height: 100%;
  background-color: black;
}

.startBtn {
  position: absolute;
  background: rgb(222, 215, 215);
  width: 50%;
  left: 25%;
  top: 100px;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
}

.ghost {
  position: absolute;
  top: 100px;
  left: 50px;
  background-image: url(../images/cat.gif);
  width: 200px;
  height: 200px;
  background-size: cover;
}
