<!DOCTYPE html>
<html lang="ko">
<head>

</head>
<body>

<!--  변수 출력 -->
  <%=  data %>

  <!-- 조건문 -->
  <!-- <% if(true){ %>
    <div>ejs template</div>
  <% } else { %>
    <div>ejs not template</div>
  <% } %>
     -->

     <!-- ejs 분할 -->
     <% include ./layout/navbar.ejs%>
</body>
</html>

