    /* 초기화 */
    body,
    h1,
    h2,
    p {
    margin: 0;
    }
    h1,
    h2 {
    font: inherit;
    }
    a {
    color: inherit;
    text-decoration: none;
    }
    /* font 적용 */
    @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
        format('woff');
    font-weight: 400;
    font-style: normal;
    }
    @font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff')
        format('woff');
    font-weight: 700;
    font-style: normal;
    }

    body {
    font-family: 'Pretendard-Regular', sans-serif;
    color: #29363d;
    }


/* article */
.card-ui {
    width: 288px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

/* title */
.title{
    display: flex;
    align-items: center;
    padding: 16px;
}
.title .profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 16px;
}
h2 {
    font-family: 'Pretendard-Bold';
    /*text가 길어지는 경우를 생각하자.한 줄의 텍스트만 표시하는 컨테이너 */
    /* 글자 수가 넘치면 잘라준다*/
    overflow: hidden; 
    /*너비가 넘치면 자동 줄바꿈이 되는것을 막아준다. */
    white-space: nowrap;
      /*텍스트가 넘칠경우, 텍스트 말줄임 ..을 표시 */
    text-overflow: ellipsis;
}
p{
    font-size: 14px;
    color: #5a6a72;
}
.text-group .content{
    margin: 16px 0;
}
.card-ui .content {

    /* 여러줄을 자를때 */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.6;
    height: calc(1em * 1.6 * 2);
}
    /* img */
.card-ui img {
    width: 100%;
              /* img 가로/세로 */
    aspect-ratio: 288/196;
    /* 잘리지않게 */
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}
.card-ui .text-group {
    /* top:24px, left,right:16px, bottom:16px */
    padding: 24px 16px 16px;
}

.logo-group{
    margin: 10px  16px 16px;
}

.link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}



.card-ui .read {
    text-decoration: underline;
    font-family: 'Pretendard-Bold';
    font-size: 14px;
    color: #29363D;
    
}
.read img{
    width: 4px;
    height: 6px;
    margin-left: 16px;
    vertical-align: middle;
}
.icon img{
    width: 32px;
}
