
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/* reset */
*{
  padding: 0;
  margin:0;
}
ul, li{
  list-style: none;
}
img{
  vertical-align: top;
}
/* 접근성 */
.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
body{
  min-height: 100vh;
  background:white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  display: flex;
  gap: 20px;
  align-items: center;
  background-color:white;
}
h1{
  font-weight: normal;
  font-family: 'Dancing Script', cursive;
  color: #fff;
  width: min-content; 
  width:min-content;
  line-height: 0.7;
  font-size: 160px;
  text-align: center;
  margin-top: -0.3em;
  
  text-shadow: 0 0 7px #f5ebeb, 0 0 10px #dcd1d1, 0 0 21px #efe1e1, 0 0 42px rgb(179, 154, 180),
    0 0 82px rgb(239, 36, 205), 0 0 40px rgb(239, 36, 205) ,0 0 40px rgb(239, 36, 205), 0 0 151px rgb(239, 36, 205);
    /* 줄 바꿈이 단어 기준으로 */

}

h1 span{
  font-size: 0.7em;
  color:white;
}
section{
  background-color: white;
  width:400px;
}
.drop-target{
  padding:20px;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
}
.drag-item{
  border: 1px solid #ddd;
  padding:12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.drag-item p{
  display: flex;
  align-items: center;
  gap:10px;
}
.drag-item img{
  width:48px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}
.drag-item ~ li{
  margin-top:10px;
}