/* reset */
body,
ul,
li,
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}
img {
  vertical-align: top;
}
h1,
h2,
h3 {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font: inherit;
  border: 0;
  background: none;
}
button:enabled {
  cursor: pointer;
}
ul,
li {
  list-style: none;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
* {
  font-size: 16px;
  font-family: Pretendard;
}

/* header */
.header{
  padding: 23px 250px;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: coral;
}
.header .logo{
  width: 100px;
  height: 28px;
}
.header .logo a{
  display: block;
  height: 100%;
  width: 100%;
}
.header nav ul{
  display: flex;
  flex-direction: row;
  gap: 81px;
}
.header .register{
  display: flex;
}
.header .register a{
  display: block;
  display: flex;
  padding: 6px 14px;
  border-radius: 20px;
  background: #EEE;
}