
:root{
  --text-1 :#29363D;
  --text-2 : #5A6A72;
  --text-3 :#677880;
  --bg-dot : #FFFAF0;

}

/* font */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
}


.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* reset */
body,h1,h2,p{
  margin: 0;
  padding: 0;
  font-size: inherit;
}
/* 여백 없어지게 img 초기화 */
img{
  vertical-align: top;
  
}
ol,li{
  list-style: none;
  padding: 0;
  margin: 0;
}
/* body의 글꼴스타일을 상속받갰다 */
button,input{
  font : inherit
}
button{
  border: 0;
  background: none;
}
button:enabled{
  cursor: pointer;
}
body{
  box-sizing: border-box;
  background-color: var(--bg-dot);
  font-family: 'Pretendard-Regular', sans-serif;
}
a{
  text-decoration: none;
  outline: none;
  color:inherit;
}


/* css 적용 */
/* header  */
/* 반복될꺼라서 따로 씀 */
.header{
  border-bottom: 1px solid #EEE;
  background: #FFF;
}

.max-width {
  width: 1284px;
  /* 부모의 100% 100vw ,최대너비는 부모를 넘지않게끔 부모보다 크면 조절 */
  /* 양 얖에 margin 30px씩 */
  max-width:calc(100% - 60px);
  margin: auto;
}
.header .max-width{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  border-bottom: 1px solid #EEE;

}
.header h1{
  width: 156px;

}
/* main.html */
header .login-text{
  display: flex;
  align-items: center;
  gap: 8px;
}

header .login-text p strong{

  box-shadow: inset 0 -0.5em 0 rgba(255, 79, 110, 0.8);
  font-family: 'Pretendard-Bold';
}

@media (min-width: 601px) {
  header .login-text p::after{
    content: '|';
    color: #d8ddde;
    margin-left: 24px;
    background-color: pink;
  }
}
@media (max-width : 600px) {
  
  header .login-text p{
   
    position: absolute;
    top: 140px;
    right: 30px;
  }
  header .login-text p::after{
    display: none;
  }
}
.logout{
  background: url(../img/icon-logout.svg);
}


/* button */
[class^='btn'] {
  /* a태그이기때문에 재사용성  inline + flex , inline-block: 가로로 정렬가능*/
  display: inline-flex;
  align-items: center;
  background-color: #FFF;
  padding: 0 20px 0 46px;
  height: 40px;
  /* 데이터 처리를 안하는 경우 배경으로 적용한다. 레이아웃이 깨질 경우를 대비해서 배경이러던지 가상요소로 넣을 수 있다. */
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: 10px 50%;
}
.btn-login {
  background-image: url(../img/icon-login.svg);
}
.btn-join {
  background-image: url(../img/icon-join.svg);
}
.btn-logout {
  background-image: url(../img/icon-logout.svg);
}


/* main */


.login{
  margin-top: 70px;
}
.main-title{

  width: 250px;
  margin: auto;
  color: var(--text-1);
  text-align: center;
  
}
.main-title svg{
  display: block;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}
.svg-heart{
  stroke: #ffc7d1;
  stroke-width: 1.5px;
  scale: 1;
  transform-origin: 50% 20px;
  animation: heart 0.5s ease  infinite alternate;
}

@keyframes heart {

  100%{
    stroke: #ffc7d1;
    stroke-width: 2px;
    scale: 1.5;
  }
}
.main-title strong{
  color: #29363d;
  font-size: 24px;
  font-family: 'Pretendard-Bold';
  box-shadow: inset 0 -0.5em 0 rgba(255, 79, 110, 0.2);
  border-bottom: 2px solid #ff4f6e;
}

/* 로그인 페이지에서만 적용하게 .login으로 적음 구체적으로 */
/* 로그인 form */
.login form{
  width: 392px;
  margin: auto;
  flex-direction: column;
  /* margin: 40px auto 50px */
  margin-top: 40px;
  margin-bottom: 50px;
}
form label{
  /* 한 줄 꽉 차게 */
  display: block;
  color: var(--text-1);
  font-size: 14px;
  margin-bottom: 8px;
}

form input{
  width: 100%;
  height: 48px;
  border: none;
  border-bottom: 1px solid #677880;
  padding: 0;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
}
.form > div{
  margin-bottom: 24px;
}

.form button[type = 'submit']{
  width: 100%;
  height: 48px;
  background:var(--text-1);
  border-radius: 4px;
  color: #F4F5F5;
  font-size: 16px;
  font-family: 'Pretendard-Bold';
}


/* main페이지 textarea부분 */
.form textarea{
  /* inline-block 이기때문에 하단 여백 */
  display: block;
  border: 1px solid #677880;
  border-radius: 4px;
  width: 100%;
  height: 360px;
  resize: none;
  box-sizing: border-box;
  padding: 10px;
  font: inherit;
  /* aspect-ratio: 1/1; */
}
.footer p{
  text-align: center;
  color: var(--text-3);
  font-size: 12px;;
  font-weight: 400
}


