.box1{
    background-color: tomato;
    width : 160px;    /* 110px*/
    height : 160px;
    border : 5px solid black; 
    padding: 10px;  /* 너비: 100 + 10 + 20 = 130 인데 아래 박스크기가 190이니까 +60*/
    /* 아래 박스와 같게 하려면? */

}


.box2{ 
    /*  border-box 적용시 
     width : 120px;
    height: 120px; 그대로 적용된 , 내가 지정한 사이즈로 유지.  */
    box-sizing: border-box;
    background-color: skyblue; 
    border : 5px solid palegreen;  
    /* 위의 box와 같게 하려면? */
    width : 120px;
    height: 120px;
    /* 130px + 60px = 190px */
    padding: 30px;

}

