/* reset */
* {
  margin: 0;
  padding: 0;

}

body{
  background-color: antiquewhite;

}


:root{
  --primary-color : #273c75;
  --secondary-color: #f7df89;
  --mark-color-1:#44bd32;
  --mark-color-2:#fbc531;
  --cheek-color:#e47575;
  --small-heart-color: rgb(215, 72, 143);
  --big-heart-color: rgb(242, 121, 182);

}
/* 애니메이션  */



/* 입 부분 */
@keyframes mouthMoving-1 {
	0% {
	
		transform: scaleY(1);
	}
	35% {
		
		transform: scaleY(1.2);
	}
	70% {
	
    transform: scaleY(1.5) ;
	}
	to {
		transform: scaleY(1) scaleX(1.2);
	}
}

@keyframes mouthMoving {
	0% {
	
		transform: scaleY(0.9);
	}
	35% {
		
		transform: scaleY(1);
	}
	70% {
	
    transform: scaleY(0.5);
	}

	to {
		transform: scaleY(1) scaleX(1.2);
	}
}
  
/* 하트 */
@keyframes heart-moving {
  0% {
    opacity: 0;
	}
	25% {
    opacity: 0;
	}
	50% {
    opacity: 0;
	}
	80% {
  
    opacity: 0;
	}
	to {
    opacity: 1;
    transform: rotate(-45deg);

	}
}
/* 큰 눈방울 */
 @keyframes large-eye {
  from {
    width: 90px;
    height:90px;
    bottom: 10%;
    left: 15%;
  }
  to {
    width: 80px;
    height: 80px;
    bottom: 20%;
    left: 20%;
  }
}
/* 작은 눈방울 */
@keyframes small-eye {
  from {
    width: 20px;
    height: 20px;
    transform: rotate(30deg);
  }
  to {
    width: 20px;
    height:30px;
    transform: rotate(45deg);

  }
}
/* < 모양 눈 */
@keyframes point-eye-line {
  0% {
    opacity: 0;

		transform:  translateX(16%) rotate(40deg);
  
	}
	25% {
    opacity: 0;
		transform:  translateX(16%) rotate(40deg);
	}
	50% {
    opacity: 0;
		transform:  translateX(16%) rotate(40deg);
	}
	80% {

    opacity: 0;
		transform:  translateX(16%) rotate(40deg);
  
	}
	to {
    opacity: 1;
		transform:   translateX(16%) rotate(45deg);
  
}
}
/* 오른쪽 눈 */
@keyframes point-eye {
  0% {
		transform:  translate(-16% , -2%) scaleZ(1);
	}
	25% {
		transform:  translate(-16% , -2%) scaleZ(1);
	}
	50% {
		transform:  translate(-16% , -2%) scaleZ(1);
	}
	80% {
		transform:  translate(-16% , -2%) scaleZ(0);
	}
	to {
    
		transform:   translate(-16% , -2%) scaleZ(0);
	}
}

/* 얼굴 애니 */
@keyframes tamamaMoving {
	0% {
		transform: translate( -50%, -50%) rotate(0deg) scale(1);
	}
	25% {
		transform:translate( -50%, -50%) rotate(0deg) scale(1);
	}
	50% {
		transform:translate( -50%, -50%) rotate(-10deg) scale(1);
	}
	80% {
		transform:translate( -50%, -50%) rotate(10deg) scale(1);
	}
	to {
		transform:translate( -50%, -50%) rotate(-10deg) scale(1.1);
	}
}



/* 왼쪽 머리 */
@keyframes earLeftMoving {
  0% {
		transform: translateY(-2%) rotate(21deg) scale(1);
	}

	50% {
		transform: translateY(-2%) rotate(27deg) scale(1);
	}
	80% {
		transform: translateY(-2%) rotate(21deg) scale(1);
	}
	to {
		transform: translateY(-2%) rotate(27deg) ;
	}
}
/* 오른쪽 머리 */
@keyframes earRightMoving {
  0% {
		transform: translateY(-2%)  rotate(-21deg) scaleX(-1) scale(1);
	}

	50% {
		transform:  translateY(-2%) rotate(-27deg) scaleX(-1)  scale(1);
	}
	80% {
		transform: translateY(-2%) rotate(-21deg) scaleX(-1)  scale(1);
	}
	to {
		transform: translateY(-2%) rotate(-27deg) scaleX(-1)  ;
	}
}
/* 가운데 머리 */
@keyframes heirtop {
  0% {
		transform:  translateY(63%)  scale(1);
	}

	50% {
		transform: translateY(63%) scale(0.9);
	}
	80% {
		transform: translateY(63%)  scale(1);
	}
	to {
		transform:  translateY(63%)  scale(0.9) ;
	}
}


/* css */
.center{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  animation: tamamaMoving 4s infinite alternate;

}
/* 얼굴 */
.tamama{
  margin: 0 auto;
  width: 600px;
  height: 600px;
  background-color: var(--primary-color);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 5;
  border: 3px solid black;
} 
/* 얼굴 광 */
.tamama-light{
  width: 30px;
  height: 50px;
  border-radius: 50%;
  background-color: #5c72af;
  position: absolute;
  top:20%;
  left: 38%;
  transform: rotate(60deg);
}

/* 얼굴 */
.face{
  width: 600px;
  height: 500px;
  background-color: white;
  border-radius: 50%;
  transform: translateY(38%);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 입 */
.mouth{
  position: absolute;
  height: 100px;
  width: 150px;
  z-index: 1;
  transform: translate(0%,-40%);
}
.mouth::after{
  content: ' ';
  display: block;
  width: 150px;
  height: 100px;
  border-radius: 20%;
  transform: translate(0%,-3%);
  background-color: white;
  border-bottom: 4px solid black;
  position: absolute;
  animation: mouthMoving-1  2s  ease infinite alternate;
}
.mouth::before{
  content: ' ';
  width: 150px;
  height: 150px;
  background-color: #db7396;
  position: absolute;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top: 40px solid rgb(146, 75, 82);
  box-sizing: border-box;
  box-shadow: inset 0 0  10px rgb(0,0,0,0.6);
  z-index: -1;
  top: 70%;
  transform-origin: 50% 50%;
  animation: mouthMoving 2s  ease infinite alternate;
}
/* 볼터치 */
.cheeks{
  width: 500px;
  display: flex;
  justify-content: space-between;
  transform: translateY(-90%);
}
.cheek{
  display: flex;
}
.cheek div{
  width: 5px;
  height: 30px;
  background-color: var(--cheek-color);
  margin: 0 20px;
  box-shadow:  0 0 20px var(--cheek-color);
  border-radius: 6px;
  filter: blur(1px);
}
.cheek div:nth-child(1){
  transform: rotate(13deg);
}
.cheek div:nth-child(2){
  transform: rotate(14deg);
}
  .cheek  div:nth-child(3){
  transform: rotate(15deg);
}
/* 눈 */
.eye{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: white;
  border: 3px solid black;
  position: absolute;
  z-index: 6;
  top: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 눈방울 */
.bright{
  width: 185px;
  height: 190px;
  border-radius: 50%;
  background-color: rgb(17, 17, 17);
}
/* < 눈모양 */
.bright-line{
  position: absolute;
  width: 150px;
  height: 150px;
  border-width: 0 0 20px 20px;
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  transform: translateX(16%) rotate(40deg) ;
  opacity: 0;
  animation: point-eye-line 4s step-start  infinite alternate;
}
.bright .big{
  width: 100px;
  height:90px;
  border-radius: 50%;
  background-color:white;
  transform:  rotate(-40deg);
  position: absolute;
  top: 10%;
  left: 10%;
  animation: large-eye 0.5s infinite alternate;
  animation-timing-function: ease;
}
.bright .small{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  animation: small-eye 0.5s infinite alternate;
  animation-timing-function: ease;
  
}
.left .bright .small{
  top: 55%;
  left: 65%;
}
.right .bright .small{
  top: 55%;
  right: 25%;
}
.eye.left{
  left: 0;
}
.eye.left .bright{

  transform: translate(16%,-2%);
  
}
.eye.right{
right: 0;
}
.eye.right .bright{

  transform: translate(-16% , -2%);
  animation: point-eye 4s ease  infinite alternate;

}

/* 하트모양 */
.heart-big {
  width: 100px;
  height: 100px;
  position: absolute;
  transform: rotate(-30deg);
  background-color: var(--big-heart-color);
  top: -6%;
  right:-50%;
  filter: blur(6px);

  animation: heart-moving 4s  infinite alternate;
}

.heart-big::before,
.heart-big::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--big-heart-color)
}

.heart-big::before {
  top: -50px;
  left: 0;
}

.heart-big::after {
  top: 0;
  left: 50px;
}



.heart-small {
  width: 50px;
  height: 50px;
  position: absolute;
  transform: rotate(-30deg);
  background-color: var(--small-heart-color);
  top: 10%;
  right:-30%;
  filter: blur(2px);
  opacity: 0;
  animation: heart-moving 4s ease-in-out  infinite alternate;
}

.heart-small::before,
.heart-small::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--small-heart-color);
}

.heart-small::before {
  top: -26px;
  left: 0;
}

.heart-small::after {
  top: 0;
  left: 26px;
}

/* 머리 */
.hair-top{
    height: 200px;
    background-color: var(--secondary-color);
    border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
    position: relative;
    transform: translateY(63%);
    z-index: 6;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    display: grid;
    justify-content: center;
    align-items: center;
    transform-origin: 50% 50%;
    animation: heirtop 3s infinite alternate;
  }

/* 양 옆 머리 */
.hair{

  position: absolute;
  width: 300px;
  height: 500px;
  background-color: rgb(199, 195, 143);
  border-bottom-right-radius: 200px;
  border-bottom-left-radius: 200px;
  box-shadow: inset 40px 0 0  var(--secondary-color);
  top: 43%;
  border: 3px solid black;
  z-index: 5;

  }
.hair.right {
  right: -15%;
  transform: rotate(-20deg) scaleX(-1);

  animation: earRightMoving 3s infinite alternate;

}

.hair.left{

  left: -15%;
  transform: rotate(20deg) ;
  /* transform-origin: 80% 0%; */
  animation: earLeftMoving 3s infinite alternate;
}

/* 케로로 마크 모양*/
.mark{
  transform: rotate(90deg);
}
.mark-left{

  width: 50px;
  height: 30px; 
  background-color:var(--mark-color-2);
  transform: skew(50deg);
  border-radius:  4px 4px 0 0;
  border-style: solid;
  border-width: 2px 3px 1px 3px;
  border-color: black;
}
.mark-rigth{

  width: 50px;
  height: 30px; 
  background-color: var(--mark-color-1);
  transform: skew(-50deg);
  border-radius: 0  0px 4px 4px;
  box-shadow: 0 0 1px black;
  border-style: solid;
  border-width: 1px 3px 2px 3px;
  border-color: black;
}
