.list-area{
  list-style: none;
  padding-left: 0;

}

.list-area li{
  border:  1px solid black;

}

.list-area li+li{
 border-top: none;

}
.list-area .visited{
  color: white;
  background-color: rgb(35, 37, 86);
}